.link-button {
    display: inline-block;
    /*display para liberar a config. do tomanho do quadrado*/
    background-color: #FCA311;
    padding: 20px 18px;
    margin-right: 0;
    box-shadow: 5px 5px 0 #F25A70;
    transition: transform 0.1s linear;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.link-button:hover {
    transform: scale(1.07)
}