.section-two {
    background-color: #140090;
    height: 100%;
    width: 100%;
    border-radius: 10px solid black;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 10px solid rgb(242, 90, 112);
}