        .skill-tec {
            display: flex;
            font-family: 'Press Start 2P', sans-serif;
            font-size: 25px;
            color: #fff;
            justify-content: space-around;
        }
        
        .skill-tec .right {
            display: flex;
            flex-direction: column;
        }
        
        .skill-tec .icon {
            height: 90px;
            width: 80px;
        }