.title {
    display: inline-flex;
    color: #F25A70;
    align-items: center;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    text-decoration: none;
    text-shadow: 4px 3px 0 black;
}

.title .-second {
    color: black;
    text-shadow: none;
    text-align: center;
}