.title {
    display: inline-flex;
    color: #F25A70;
    text-shadow: 4px 3px 0 black;
    align-items: center;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    text-decoration: none;
    padding-top: 40px;
}