.wrapper-skills {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper-skills .skill-tec {
    width: 430px;
}

.wrapper-skills .skill-tec.-space {
    margin-right: 100px;
}